body{
    width: 60%;
    text-align: center;
    background-color: gray;
    margin: auto;
}

.flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-right :0;
}

a{
    text-decoration: none;
    color:inherit;
    width: 100%;
}

