html{
    background-image:url('../assets/imgs/Background.jpg');
    background-color: aqua;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    height: 100%;
}

body{
    margin: 0px;
}
header{
    height: 5em;
    width: 100%;
    margin: 0%;
    background-color:aquamarine;
}